@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.main-menu {
  position: relative;
}
.sub-menu {
  position: absolute;
  z-index: 99;
  right: -100px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  width: 200px;

  display: none;
}
.main-menu:hover .sub-menu {
  display: block;
}
.sub-menu > li:hover {
  font-weight: bold;
}
